body {
    font-family: 'Source Sans Pro', sans-serif !important;
    padding-top: 85px !important;
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.app_component {
    width: 100%;
    padding: 0 50px 40px;
}

.btn {
    margin: 0;
    border: 0;
    border-radius: 0;
    font-weight: bold;
}

.btn-half {
    width: 50% !important;
}

.btn, .popover, .form-control, .form-group {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.popover > .popover-title {
    color: #ffffff;
    background-color: #444444;
    font-weight: bold;
}

.mini-menu {
    margin-top: 30px;
}

.mini-menu > .list-group > a > .list-group-item {
    border-radius: 0;
    border-top: 2px solid #ff8130;
}

.mini-menu > .list-group > a > .list-group-item:hover {
    background-color: #444444;
    color: #ffffff;
}

.btn-epic {
    color: #ffffff;
    background-color: #467490;
    padding: 10px 25px;
    border-bottom: 4px solid #ff8130;
}

.btn-epic:hover {
    background-color: #444444;
    cursor: pointer !important;
}

.grow {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.grow:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}