{% load staticfiles %}

<footer id="footer">
    <div class="container">
        <div class="row">

            <!-- PROJECT INFORMATION -->
            <div class="col-lg-4 col-item">
                <b>Escola Piloto de Computação - EPiC UFSCar</b><br>
                Universidade Federal de São Carlos<br>
                Departamento de Computação<br>
            </div>

            <!-- SOCIAL MEDIA LINKS -->
            <div class="col-lg-1 col-item">
                <a href="mailto:epic.ufscar@gmail.com" target="_top"><i class="fa fa-envelope fa-lg"></i></a>
                <a href="https://www.facebook.com/epic.ufscar" target="_blank"><i class="fa fa-facebook-official fa-lg"></i></a>
                <a href="https://github.com/epicufscar" target="_blank"><i class="fa fa-github fa-lg"></i></a>
            </div>

            <!-- LOGOS -->
            <div class="col-lg-7 col-item">
                <a href="http://www.dc.ufscar.br/" target="_blank"><img class="logo" src="{% static 'images/footer/dc_white.png' %}"></a>
                <a href="http://www.ufscar.br/" target="_blank"><img class="logo" src="{% static 'images/footer/ufscar_white.png' %}"></a>
                <a href="http://www.sancahub.org/" target="_blank"><img class="logo" src="{% static 'images/footer/sancahub_white.png' %}"></a>
            </div>
        </div>
    </div>
</footer>