{% load staticfiles %}

<header id="menu">
    <div class="bg-faded">
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><img class="logo-menu" src="{% static 'images/logo_epic.png' %}"/></a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                    <!-- MENU OPTIONS -->
                    <div class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">SOBRE</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'team' %}">EQUIPE</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'courses' %}">CURSOS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'supporters' %}">APOIO</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="spDropdown" data-toggle="dropdown" aria-expanded="false">PROCESSOS SELETIVOS</a>
                            <div class="dropdown-menu" aria-labelledby="spDropdown">
                                <a class="dropdown-item" href="{% url 'sprocess' year=2017 half=1 %}">2017.1</a>
                                <a class="dropdown-item" href="{% url 'sprocess' year=2018 %}">2018</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">CONTATO</a></li>
                    </div>

                </div>
            </nav>
        </div>
    </div>
</header>
