#supporters section h2:first-child {
    border-top: 2px solid #ff8130;
    padding: 15px 0 0;
}

#supporters .col-lg-3 {
    margin-top: 20px;
    text-align: center;
}

#supporters .card {
    margin-top: 10px;
    display: inline-block;
}

#supporters .supporter {
    width: 100%;
    padding: 10px;
    border: dotted;
    border: thin;
    border: #cccccc;
}

@media (min-width: 576px) {
    #supporters .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    #supporters .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    #supporters .card-columns {
        column-count: 3;
    }
}
